@font-face {
  font-family: "PressStart2P";
  src: url(./PressStart2P-Regular.woff) format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-Variable";
  src: url(./Inter-Variable.woff2) format("woff2 supports variations"), url(./Inter-Variable.woff2) format("woff2-variations");
  font-weight: 400 465;
  font-stretch: 100%;
  font-style: normal;
  font-display: swap;
  font-variation-settings: "wght" var(--main-font-weight);
}

@font-face {
  font-family: "Inter-Variable";
  src: url(./Inter-Variable.woff2) format("woff2 supports variations"), url(./Inter-Variable.woff2) format("woff2-variations");
  font-weight: 700 785;
  font-stretch: 100%;
  font-style: normal;
  font-display: swap;
  font-variation-settings: "wght" var(--accent-font-weight);
}
